<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/COLSAM_Logo.webp" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/boleta.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    
    <!-- Estilos personalizados para el boletín -->
    <style>

        @font-face {
        font-family: 'mf';
        src: url(../fonts/Comfy\ Feeling.otf);
        font-weight: m;
        font-style: m;
        }

        @font-face {
        font-family: 'fm';
        src: url(../fonts/LeagueSpartan-Bold.otf);
        font-weight: t;
        font-style: t;
        }

        body {
            font-family: 'Lato', sans-serif;
            background-image:  url(../img/fnpf.png);
            background-size: 100%;
        }

        .boletin-container {
            max-width: 900px;
            margin: 0 auto;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        img{
            width: 30px;
        }

        .header {
            text-align: center;
            margin-bottom: 30px;
            position: relative;
        }

        .header img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
        }

        .header h1 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 5px;
            font-family: fm;
            font-weight: t;
        }

        .header h4 {
            font-weight: normal;
            color: #555;
            font-family: fm;
            font-weight: t;
        }

        h3 {
            margin-top: 20px;
            font-size: 1.5rem;
            font-family: mf;
            font-weight: m;
        }

        .table thead th {
            background-color: #007bff;
            color: #fff;
            font-family: fm;
            font-weight: t;
        }

        .table tbody tr {
            background-color: #f2f2f2;
        }

        .footer {
            text-align: center;
            margin-top: 30px;
            font-size: 0.9rem;
            color: #777;
        }

        /* Estilos para la impresión */
        @media print {
            @page{
                margin: 0;
            }
            body {
                margin: 0;
                background-color: #fff;
                background-image:  url(../img/fnpf.png);
                background-size: 100%;
            }

            .boletin-container {
                box-shadow: none;
                border: none;
            }

            .header img {
                display: block;
            }

            .table thead th {
                background-color: #5db8be !important;
                color: #fff !important;
            }

            .footer {
                page-break-after: avoid;
            }

            .no-print {
                display: none;
            }
        }
    </style>

</head>
<body>
    <div class="boletin-container">
        <div class="header">
            <img src="img/escudocolsam.png" alt="Escudo Institucional">
            <h1>Boleta de Calificaciones</h1>
            <h4>Instituto COLSAM</h4>
        </div>

        <% if (place) { %>
            <h3>Estudiante: <%= place.usuNombre %> <%= place.usuApellidoP %> <%= place.usuApellidoM %></h3>
        <% } %>

        <div class="row justify-content-md-center">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Materia</th>
                        <th scope="col">Periodo</th>
                        <th scope="col">Valor del Promedio</th>
                    </tr>
                </thead>
                <tbody>
                    <% let sumaPromedios = 0; %> <!-- Inicializar suma -->
                    <% notas.forEach((notas) => { %>
                    <tr>
                        <th scope="row" style="font-family: mf; font-weight: m"><%= notas.matNombre %></th>

                        <td>
                           <ul>
                           
                                <% notas.comentarios.forEach((comentario) => { %>
                                    <li><%= comentario %></li>
                                <% }) %>

                           
                           </ul>
                        </td>

                        <td>
                            <% if (notas.promedio <= 3.0 && notas.promedio > 1.0) { %> 
                                <img src="img/sb.png">
                            <% } else if (notas.promedio >= 3.1 && notas.promedio <= 3.9) { %> 
                                <img src="img/sbc.png">
                            <% } else if (notas.promedio >= 4.0 && notas.promedio <= 4.9) { %> 
                                <img src="img/sa.png">
                            <% } else if (notas.promedio > 5.0) { %> 
                                <img src="img/ss.png">
                            <% } %>
                            <% sumaPromedios += notas.promedio; %>
                        </td>
                    </tr> 
                    <% }) %>
                </tbody>
            </table>
           
             <!-- Cálculo y visualización del promedio general -->
             <% let promedioGeneral = (sumaPromedios / notas.length).toFixed(2); %>
             <h3>Promedio General: <%= promedioGeneral %></h3>
            <div class="footer">
                <img src="img/sb.png">
                <img src="img/sbc.png">
                <img src="img/sa.png">
                <img src="img/ss.png">
            </div>

            <!-- Botón de impresión -->
            <div class="text-center mt-4">
                <button class="btn btn-primary no-print" onclick="imprimirBoletin()">
                    <i class="fa fa-print"></i> Imprimir Boletín
                </button>
            </div>
        </div>
    </div>

    <script src="../js/bootstrap.bundle.min.js"></script>

</body>
</html>
    <!-- Función para imprimir el boletín -->
    <script>
        function imprimirBoletin() {
            window.print();
        }
    </script>