<%- include('panelNavBar.ejs'); %>
<form action="/grado" method="POST" class="container pt-3 col-md-7 col-lg-8">
  <h3 class="fs-1" style="margin-left: 450px;">Registrar grado</h3>
  <div style="width: 600px; margin-left: 270px;">
    <div class="mb-3">
      <input name="grado" type="text" class="form-control mb-3" id="" maxlength="20" placeholder="Nombre" required>
    </div>
  </div>
  <button type="submit" class="btn btn-primary mb" style="margin-left: 550px;">Registrar</button>
</form>



</main>


<script src="../js/bootstrap.bundle.min.js"></script>
<script>document.title = 'Registrar Grado'</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<% if(alert) { %>
  <script>
    Swal.fire({
      title: '<%= alertTitle %>',
      text:  '<%= alertMessage %>',
      icon:  '<%= alertIcon %>',
      showConfirmButton: <%= showConfirmButton %>,
      timer: <%= timer %>,
    }).then(()=>{
        window.location = '/<%= ruta %>'
    })
  </script>
<% } %>

<!-- <script src="../js/sidebars.js"></script> -->
</body>
</html>