<%- include('panelNavBar.ejs'); %>

<div class="p-3" style="width: 1600px; margin-left: 100px;">
  <%  if (place) { %> 
    <h3>Estudiante: <%= place.usuNombre %> <%= place.usuApellidoP %> <%= place.usuApellidoM %>.</h3>
  <% } %>
  <div class="row justify-content-md-center">
    <div class="p-3" style="width: 1600px; margin-left: 100px;">
      <div class="row">
        <div class="col-md-4">
          <label for="periodoFiltro" class="form-label">Filtrar por Periodo:</label>
          <select id="periodoFiltro" class="form-select">
          
      
              <option value="Primer periodo" selected>Primer periodo</option>
              <option value="Segundo periodo">Segundo periodo</option>
              <option value="Tercer periodo">Tercer periodo</option>
         
          </select>
        </div>
      </div>
    
    <table id="notas" class="table">
      <thead>
        <tr>
          <th scope="col">Materia</th>
          <th scope="col">1</th>
          <th scope="col">2</th>
          <th scope="col">3</th>
          <th scope="col">4</th>
          <th scope="col">5</th>
          <th scope="col">Promedio</th>
          <th scope="col">Periodo</th>
        </tr>
      </thead>
      <tbody>
        <% notas.forEach((notas) => { %>
        <tr>
          <th scope="row"><%= notas.matNombre %></th>
          <td>
            <% if (notas.eva1 < 2.9 && notas.eva1 > 1.0 ) { %> Bajo
              <% } else if (notas.eva1 == 3.1) { %> básico
              <% } else if (notas.eva1== 4.0) { %> alto
              <% } else if (notas.eva1 == 5.0) { %> superior
              <% } %>
          </td>
          <td>
            <% if (notas.eva2 < 2.9 && notas.eva2 > 1.0 ) { %> Bajo
              <% } else if (notas.eva2 == 3.1) { %> básico
              <% } else if (notas.eva2== 4.0) { %> alto
              <% } else if (notas.eva2 == 5.0) { %> superior
              <% } %>
          
          </td>
          <td>
            <% if (notas.eva3 < 2.9 && notas.eva3> 1.0 ) { %> Bajo
            <% } else if (notas.eva3 == 3.1) { %> básico
            <% } else if (notas.eva3== 4.0) { %> alto
            <% } else if (notas.eva3 == 5.0) { %> superior
            <% } %>
          </td>
          <td>
            <% if (notas.eva4 < 2.9 && notas.eva4 > 1.0 ) { %> Bajo
              <% } else if (notas.eva4 == 3.1) { %> básico
              <% } else if (notas.eva4== 4.0) { %> alto
              <% } else if (notas.eva4 == 5.0) { %> superior
              <% } %>
          </td>
          <td>
            <% if (notas.eva5  < 2.9 && notas.eva5  > 1.0 ) { %> Bajo
              <% } else if (notas.eva5  == 3.1) { %> básico
              <% } else if (notas.eva5 == 4.0) { %> alto
              <% } else if (notas.eva5  == 5.0) { %> superior
              <% } %>
          </td>
          <td>
            <% if (notas.eva6< 2.9 && notas.eva6 > 1.0 ) { %> Bajo
              <% } else if (notas.eva6 == 3.1) { %> básico
              <% } else if (notas.eva6== 4.0) { %> alto
              <% } else if (notas.eva6 == 5.0) { %> superior
              <% } %>
          </td>
          <td>
            <% if (notas.eva7 < 2.9 && notas.eva7 > 1.0 ) { %> Bajo
              <% } else if (notas.eva7 == 3.1) { %> básico
              <% } else if (notas.eva7== 4.0) { %> alto
              <% } else if (notas.eva7 == 5.0) { %> superior
              <% } %>
          </td>
          <td>
            <% if (notas.eva8 < 2.9 && notas.eva8> 1.0 ) { %> Bajo
              <% } else if (notas.eva8 == 3.1) { %> básico
              <% } else if (notas.eva8== 4.0) { %> alto
              <% } else if (notas.eva8 == 5.0) { %> superior
              <% } %>
          </td>
          <td>
            <% if (notas.eva9 < 2.9 && notas.eva9 > 1.0 ) { %> Bajo
              <% } else if (notas.eva9 == 3.1) { %> básico
              <% } else if (notas.eva9== 4.0) { %> alto
              <% } else if (notas.eva9 == 5.0) { %> superior
              <% } %>
          </td>
          <td>
            <% if (notas.eva10< 2.9 && notas.eva10 > 1.0 ) { %> Bajo
              <% } else if (notas.eva10 == 3.1) { %> básico
              <% } else if (notas.eva10== 4.0) { %> alto
              <% } else if (notas.eva10 == 5.0) { %> superior
              <% } %>
          </td>
          <td>
            <% if (notas.promedio < 3.0 && notas.promedio > 1.0 ) { %> Bajo
              <% } else if (notas.promedio > 3.1 &&   notas.promedio < 3.9) { %> básico
              <% } else if (notas.promedio > 4.0 && notas.promedio < 4.9) { %> alto
              <% } else if (notas.promedio > 5.0) { %> superior
              <% } %>
          </td>
          <td><%= notas.perNombre %>
          
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

  </div>

</div>

</main>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

<script src="../js/bootstrap.bundle.min.js"></script>

<script>
  $(document).ready(function () {
    $('#notas').DataTable();
  });

  $(document).ready(function () {
  // Inicializar la tabla con DataTables
  var table = $('#notas').DataTable();

  // Evento para el filtro por periodo
  $('#periodoFiltro').on('change', function () {
    var selectedPeriodo = $(this).val();
    
    // Aplicar filtro personalizado
    if (selectedPeriodo) {
      table.column(12).search('^' + selectedPeriodo + '$', true, false).draw(); // Filtrar la columna 12 (periodo)
    } else {
      table.column(12).search('').draw(); // Limpiar el filtro
    }
  });
});
</script>


<script>document.title = 'Tabla de Calificaciones'</script>

<!-- <script src="../js/sidebars.js"></script> -->
</body>
</html>