<%- include('panelNavBar.ejs'); %>

<form action="generarDes" method="POST" class="container pt-3 col-md-7 col-lg-8">
    <div class="form-control">
      <h3>Generar  desempeño</h3>
      <!-- <div class="mb-3">
       <label for="" class="form-label pb-3">Cedula de estudiante:</label>
        <input name="cedula" type="text" class="form-control mb-3" id="" required>
      </div> -->
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label pb-3" >Seleccione grado a consultar</label>
        <select name="grado" class="form-select" aria-label="Default select example">
          <option selected disabled>Grado</option>
          <% results.forEach((grado) => { %> 
            <option value="<%= grado.idGrado %>"><%= grado.graNombre %></option>
          <% }) %>
        </select>
      </div>
  
      <div class="mb-3">
        <label for="materia" class="form-label mb-3">Seleccione la materia:</label>
        <select name="materia" class="form-select" aria-label="Default select example">
          <option selected disabled>Materia</option>
          <% materia.forEach((materia) => { %>
            <option value="<%= materia.idMateria %>"><%= materia.matNombre %></option>
          <% }) %>
        </select>
      </div>
  
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Seleccione el periodo:</label>
        <select name="periodo" class="form-select" aria-label="Default select example">
          <option selected disabled>Periodo</option>
          <option value="1">Periodo 1</option>
          <option value="2">Periodo 2</option>
          <option value="3">Periodo 3</option>
        </select>
      </div>
      <div class="mb-3" >
        <input name="cedula" value="<%= locals.id %>" hidden > </input>
      </div>

      <div class="mb-3">
        <label for="" class="form-label pb-3">comentario:</label>
        <textarea  name="comentario" type="text" class="form-control mb-3" id="" required></textarea>
      </div>
    <button type="submit" class="btn btn-danger mb">enviar</button> 
    </div>
  </form>
</div>