<%- include('panelNavBar.ejs'); %>
<form action="/notas" method="POST" class="container pt-3 col-md-7 col-lg-8">
  <h3 class="fs-1" style="margin-left: 300px;">Registrar Notas de estudiantes</h3>
  <div style="width: 700px; margin-left: 210px;">
    <div class="mb-3">
      <label for="grado" class="form-label pb-3">Seleccione grado a registrar notas</label>
      <select name="grado" class="form-select" aria-label="Default select example">
        <option selected disabled>Grado</option>
        <% results.forEach((grado) => { %>
          <option value="<%= grado.idGrado %>"><%= grado.graNombre %></option>
        <% }) %>
      </select>
    </div>

    <label for="dimension" class="form-label mb-3">Seleccione la dimensión:</label>
    <select id="dimensionSelect" name="dimension" class="form-select" aria-label="Default select example">
      <option selected disabled>Dimensión</option>
      <% dimension.forEach((di) => { %>
        <option value="<%= di.id_dim %>"><%= di.claseM %></option>
      <% }) %>
    </select>

    <div class="mb-3">
      <label for="materia" class="form-label mb-3">Seleccione la materia:</label>
      <select id="materiaSelect" name="materia" class="form-select" aria-label="Default select example" disabled>
        <option selected disabled>Materia</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="periodo" class="form-label pb-3">Seleccione el periodo:</label>
      <select name="periodo" class="form-select" aria-label="Default select example">
        <option selected disabled>Periodo</option>
        <option value="1">Periodo 1</option>
        <option value="2">Periodo 2</option>
        <option value="3">Periodo 3</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary mb" style="margin-left: 300px;">Consultar</button>
  </div>
</form>

<script src="../js/bootstrap.bundle.min.js"></script>
<script>
// Detectar cambio en el selector de dimensión
document.getElementById('dimensionSelect').addEventListener('change', function() {
  const dimensionId = this.value;

  // Realizar solicitud AJAX
  fetch(`/materias/${dimensionId}`)
    .then(response => response.json())
    .then(data => {
      const materiaSelect = document.getElementById('materiaSelect');
      materiaSelect.innerHTML = '<option selected disabled>Materia</option>'; // Limpiar opciones
      data.forEach(materia => {
        materiaSelect.innerHTML += `<option value="${materia.idMateria}">${materia.matNombre}</option>`;
      });
      materiaSelect.disabled = false; // Habilitar el selector
    })
    .catch(error => console.error('Error:', error));
});
</script>

